@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: rgb(231, 233, 233);
}


ul {
    text-transform: uppercase;
    list-style: none;
    width: 23%;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

header {
    grid-column: 1/13;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    padding: 1% 0;
    background-color: #0D445F;
}



header .lmenu li a {
    color: #fff;
    font-size: 18px;
}

.nav-lista{
    display:block;
    z-index: 1;
}

.lmenu{
    display: flex;
    position: relative;
    top: 0;
}

.menui {
    font-size: 2.3em;
    color: rgb(233, 233, 233);
    cursor: pointer;
    margin-right: 2%;
    margin-top: 8px;
    display: none;
}

.logo a {
    color: aqua;
    margin-left:6%;
}



.flyerp {
    grid-column: 1/13;
    width: 100%;
    height: 303px;
    background: url('../img/banner-enned.png') center center/100% 100% no-repeat;
    background-color: rgba(65, 209, 245, 0.5);
    clip-path:polygon(100% 0,100% 49%,49% 99%,0 98%,0 0);
}

.flyertxt {
    color: rgb(0, 0, 0);
    font-family: 'Lobster Two', cursive;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 50%;
    height: 60%;
    padding: 2%;
   align-items: flex-end;
}

.btncomprar {
    font-size: 13px;
    color: #fff;
}

main {
    grid-column: 1/13;
    padding: 2% 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.ctim {
    margin-left: 2%;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background: url('../img/Nike-Jordan.jpg') center center /300px;
    margin: 0 auto;
}

/*Regras Midia*/
@media screen and (max-width: 902px){
    .nav-lista {
        display: block;
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50%;
        background-color: lightblue;
        clip-path: circle(50px at -40% 10%);
        transition: all 1s ease-in-out;
    }

    .nav-lista.abrir{
        clip-path: circle(1000px at 90% -28%);
    }

    .menui{
        z-index: 1;
        display: block;
    }

    .lmenu{
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        display: block;

    }

    header .lmenu li  {
        padding: 2%;
        margin-right: 2%;
        margin-bottom: 6%;
    }

    header .lmenu li:first-child {
        margin-top: 15%;
    }
}
